<nav class = "navbar navbar-expand-md bg-primary">
        <div class = "container-fluid mx-5">
            <button
                class = "navbar-toggler navbar-dark"
                type = "button"
                aria-controls = "navbarSupportedContent"
                aria-expanded = "false"
                data-bs-target  = "#navbarSupportedContent" 
                data-bs-toggle = "collapse">
                <span class = "navbar-toggler-icon"></span>
            </button>
            <div class = "collapse navbar-collapse" id = "navbarSupportedContent">
                <ul class = "navbar-nav me-auto my-1">
                    <li class = "nav-item text-center me-4">
                        <a class = "nav-link text-white" aria-current = "page" href = "<?= base_url('/admin'); ?>">Home</a>
                    </li>
                    <li class = "nav-item text-center me-4">
                        <a class = "nav-link text-white" aria-current = "page" href = "<?= base_url('/admin/auth/logout'); ?>">Tentang Kami</a>
                    </li>
                    <li class = "nav-item text-center me-4">
                        <a class = "nav-link text-white" href = "<?= base_url('/admin/dev'); ?>">[Dev Room]</a>
                    </li>
                </ul>
                <div class = "d-flex justify-content-center">
                    <a href = "<?= base_url('/admin/auth/logout'); ?>">
                        <button class = "btn btn-warning">Logout</button>
                    </a>
                </div>
            </div>
        </div>
    </nav>